*{
    margin: 0;
    padding: 0;
}


body {
    background-color: white;
}

.header {
    background-color: #0073e6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}

.logo img {
    width: 25px;
    height: 25px;
}

.title h1 {
    font-family: 'Pixelify Sans', cursive;
    font-size: 36px;
    color: white;
    margin: 0;
}

.title p {
    color: white;
    margin: 5px 0;
}
.headerbuttons li{
    list-style: none;
    float: left;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;

}
.headerbuttons{
    position: absolute;
    margin: 0;
    padding: 10px;
    width: 100px;
    height: 30px;
    font-size: xx-large;
    top: 0;
    right: 0;
    display: inline-block;

}
.signbutton:link, .Cartbutton:link{
    color: white;
}

.signbutton:visited, .Cartbutton:visited{
    color: white;
}

.signbutton:hover, .Cartbutton:hover{
    background-color: #2b90ff;
    border: 2px solid white;
    border-radius: 20%;


}
.signbutton:active, .Cartbutton:active{
    background-color: #1b6bc4;

}

/* zoekbalk */

.search-bar {
    flex: 1;
    display: flex;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    margin: 45px;
}

.search-bar input[type="text"] {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
}

.search-bar button[type="submit"] {
    background-color: #0073e6;
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    font-size: xx-large;
}
.search-bar button:hover[type="submit"]{
    background-color: #2b90ff;


}


.left-content {
    display: flex;
    align-items: center;
}

.logo img {
    width: 112px;
    height: 112px;
    image-rendering: optimizeQuality;
    background-color: #2b90ff;
    border-radius: 5%;
    margin-right: 30px;
}

.title h1 {
    font-family: 'Pixelify Sans', cursive;
    font-size: 36px;
    color: white;
    margin: 0;
}

.title p {
    color: white;
    margin: 5px 0;
}


/* Voeg deze CSS-regels toe voor de categorieën onder de header */


.categories {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.categories h2 {
    font-size: 24px;
    margin-bottom: 10px;
}


.categories li {
    display: inline;
    margin-right: 10px;
    font-size: 16px;
}
.Slogan-backdrop{
    background-image: url("images/nerdBackdrop");
    color: white;
    padding: 20px;
    padding-left: 80px;
    margin: 0;
    position: relative;
    height: 350px;
    font-size: xx-large;
    font-family: 'Pixelify Sans', cursive;
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.Slogan-backdrop h2{
    position: absolute;
    top: 3em;

}




/* Style voor de categorieën */

.categories ul {
    list-style: none;
    padding: 0;
    justify-content: center;
    display: flex;

}

.categories li {
    display: flex;
    margin-right: 10px;
    font-size: 16px;
    justify-content: center;
}

.categories a {
    text-decoration: none; /* Verwijder de onderstreping van de tekst voor links */
    color: #333; /* kleur van de tekst */
}

.categories a:hover {
    color: #0073e6; /* kleur voor de linktekst wanneer je erover zweeft */
}

/* Voeg deze CSS-regels toe om de "About Us" sectie iets naar beneden te plaatsen */


.about-text {
    padding: 20px;
    margin: 10px;
    width: 30%;
    border-radius: 5px;
    border: 1px solid grey;
}

.about-text h3 {
    font-size: 24px;
    margin: 0;
}

.about-text p {
    font-size: 16px;
    margin: 10px 0;
}

/* Voeg deze CSS-regels toe voor de productsectie aan de linkerkant van het scherm */

.product-section {
    width: 30%; /* Pas de breedte aan naar wens */
    float: left; /* Plaats de sectie aan de linkerkant van het scherm */
    padding: 20px;
    justify-content: center;
}

.product-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 20px;
}

.mainpage {
    margin: 10px;
    padding: 50px;


}
.frontpageFooter {
    margin: 0;
    padding: 5px;
    background-color: #666666;

}

.azerty-section {
    width: 40%;
    height: 50%;
    padding: 20px;
    margin: 10px;
    border: 1px solid black;
    display: inline-block;
    border-radius: 10px;
    padding-bottom: 60px;


}
.azerty-item1, .azerty-item2, .azerty-item3 {
    height: 125px;
    width: 125px;
    float: left;
    display: inline-block;
    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;

}

.azerty-item1 p, .azerty-item2 p, .azerty-item3 p {

    margin: 5px;
    padding: 5px;
    border: 1px solid grey;
    border-radius: 5px;
}

.aanbevolen-producten ul{
    list-style: none;

}

.aanbevolen-producten {
    margin: 5px;
    padding: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    display: inline-block;

}

